{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% load static %}
{% block content %}
  <div class="container infinite-container">
    {% include "includes/menu.html" with index=True %}
    {% for post in page %}
      {% include "includes/post_item.html" with post=post %}
    {% endfor %}
</div>
    {% include "paginator.html" with items=page paginator=paginator %}

  <script src="{% static "jquery.waypoints.min.js"%}"></script>
  <script src="{% static "infinite.min.js"%}"></script>
</body>

</html>
{% endblock %}