<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-4 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Проект создан при помощи
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Python 3.7, Django 2.2.6, pythoneverywhere
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-8">
      <div class="card-body">
        <div class="card-text">
          <p>Отдельное спасибо за помощь в реализации наставникам и одногрупникам, а также экспертам на stackoverflow :)</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 